body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.intro {
    margin-top: 80px;
}

.services {
    margin-top: 100px;
}

.project {
    margin-top: 100px;
}

.carousel img {
    opacity: 0.6;
}

.card-services {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 330px;
}

.end {
    margin-top: 100px;
    margin-bottom: 100px;
}


.end .card {
    padding: 10px 60px;
    background-color: rgb(251, 222, 168);
}

.btn-services {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 150px;
    padding: 10px;
}

.btn-services:hover {
    background-color: rgb(0, 191, 255);
    color: white;
    transition: 0.8s;
}

.btn-contact {
    border-radius: 35px;
    width: 100px;
    padding: 5px 5px;
}

.bungkusBrand {
    position: relative;
    align-items: center;
}

.imgBrand {
    position: relative;
    z-index: 1;
}

.logobrand {
    position: absolute;
    z-index: 2;
}